<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ActiveWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <appSettings>
        <add key="1selfEvent_PublishingUrlFormat" value="https://api.1self.co/v1/streams/{0}/events" />

        <add key="1selfEvent_WindowEvent_ObjectTags" value="computer, active-window" />
        <add key="1selfEvent_WindowEvent_ActionTags" value="focus" />
        <add key="1selfEvent_WindowEventTitlePropertyName" value="title" />
        <add key="1selfEvent_WindowEventProcessPropertyName" value="process" />

        <add key="1selfEvent_SessionEvent_ObjectTags" value="computer" />
        <add key="1selfEvent_SessionEvent_Locked_ActionTags" value="lock" />
        <add key="1selfEvent_SessionEvent_Unlocked_ActionTags" value="unlock" />
    </appSettings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <userSettings>
        <ActiveWindow.Properties.Settings>
            <setting name="oneSelf_StreamId" serializeAs="String">
                <value />
            </setting>
            <setting name="oneSelf_WriteToken" serializeAs="String">
                <value />
            </setting>
            <setting name="pollingInterval_Seconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="location_latitude" serializeAs="String">
                <value />
            </setting>
            <setting name="location_longitude" serializeAs="String">
                <value />
            </setting>
        </ActiveWindow.Properties.Settings>
    </userSettings>
</configuration>
