<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
    <targets>
        <target name="application-log" type="File" deleteOldFileOnStartup="true"
                fileName="${specialfolder:LocalApplicationData}/ActiveWindow/logs/application.log"
                layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
        <target name="data-log" type="File" deleteOldFileOnStartup="true"
                fileName="${specialfolder:LocalApplicationData}/ActiveWindow/logs/data.log"
                layout="${longdate} ${message}" />
    </targets>

    <rules>
        <logger name="application" minlevel="Debug" writeTo="application-log" final="true" />
        <logger name="data" minlevel="Debug" writeTo="data-log" final="true" />
    </rules>
</nlog>
