<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
    <targets>
        <target name="default" type="File" deleteOldFileOnStartup="true"
                fileName="${basedir}/logs/application.log"
                layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />

        <target name="publishedEvents" type="File" deleteOldFileOnStartup="true"
                fileName="${basedir}/logs/publishedEvents.log"
                layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
    </targets>

    <rules>
        <logger name="default" minlevel="Debug" writeTo="default" final="true" />
        <logger name="publishedEvents" minlevel="Debug" writeTo="publishedEvents" final="true" />
    </rules>
</nlog>
